/* Only UI fonts here, which are needed before the editor initializes. */
/* These cannot be dynamically prepended with `EXCALIDRAW_ASSET_PATH`. */
/* WARN: The following content is replaced during excalidraw-app build  */

/* Google Fonts: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "Inter";
    font-style: normal;
  font-weight: 400;
  font-display: swap;
    src: local("Inter"), url("https://fonts.gstatic.com/s/inter/v12/UcCO3FwrKZ4gNAkAMif3_w.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
    font-style: normal;
  font-weight: 500;
  font-display: swap;
    src: local("Inter Medium"), url("https://fonts.gstatic.com/s/inter/v12/UcCO3FwrKZ4gNAkAOyf3_w.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
    font-style: normal;
  font-weight: 600;
  font-display: swap;
    src: local("Inter SemiBold"), url("https://fonts.gstatic.com/s/inter/v12/UcCO3FwrKZ4gNAkANif3_w.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
    font-style: normal;
  font-weight: 700;
  font-display: swap;
    src: local("Inter Bold"), url("https://fonts.gstatic.com/s/inter/v12/UcCO3FwrKZ4gNAkAPCf3_w.woff2") format("woff2");
}
